<footer th:fragment="footer" class="bg-black text-white py-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h4 class="brand-font text-gold">L.L. BEAUTY</h4>
                <p class="text-white-50">Premium beauty, salon, and franchise ecosystem. Elevate your beauty experience.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="brand-font">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/shop" class="text-white-50 text-decoration-none">Shop</a></li>
                    <li><a href="/salon" class="text-white-50 text-decoration-none">Salon</a></li>
                    <li><a href="/franchise" class="text-white-50 text-decoration-none">Franchise</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="brand-font">Contact</h5>
                <p class="text-white-50">Email: support@llbeauty.com<br>Phone: +91 9999999999</p>
            </div>
        </div>
        <hr class="border-secondary">
        <div class="text-center text-white-50">
            <small>&copy; 2026 L.L. BEAUTY. All rights reserved.</small>
        </div>
    </div>
</footer>
